@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

@import "tailwindcss";

html,
body {
  font-family: "Syne", sans-serif;
  background: #F5F8FF;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.bg-heroSection {
  background-image: url("/assets/images/herosection-background.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}